# Data Cleaning for the Portland Crime Rate Dataset

### This dataset was found on Kaggle, showing crime rate data collected from the Portland Police Bureau's Open Data initiative. The data span from the years 2015 through June 30, 2023.

### This type of data can be useful in predicting where crime is most prevelant within the Portland city limits, along with what type of crime is most likely to happen. Another important insight you can glean from this dataset is if there is a pattern in the occurance of the crime, such as specific time of year and time of day.

## Import Data

In [1]:
# Installing necessary packages needed for this project
import pandas as pd
import numpy as np

In [2]:
# Import data from local csv file downloaded from Kaggle 
df = pd.read_csv('Portland Crime Rate .csv')
df.head()

  \tAddress\tCaseNumber\tCrimeAgainst\tNeighborhood\tOccurDate\tOccurTime\tOffenseCategory\tOffenseType\tOpenDataLat\tOpenDataLon\tOpenDataX\tOpenDataY\tReportDate\tOffenseCount
0  491800\t8800 BLOCK OF SE FLAVEL ST\t23-171766\...
1  475141\t800 BLOCK OF SW 4TH AVE\t23-915199\tPr...
2  475143\t800 BLOCK OF SW 4TH AVE\t23-915330\tPr...
3  497537\tS GAINES ST / S CORBETT AVE\t23-171939...
4  490845\t7900 BLOCK OF SE ASPEN SUMMIT DR\t23-9...

### The data seems to have not translated into multiple columns, as it looks like "\t" is the separator for the columns. We will have to specify that "\t" is a separator and re-import the data correctly

In [3]:
# Re-import data specifying "\t" as the separator
df = pd.read_csv('Portland Crime Rate .csv', sep = "\t")
df.head()

,Unnamed: 0,Address,CaseNumber,CrimeAgainst,Neighborhood,OccurDate,OccurTime,OffenseCategory,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY,ReportDate,OffenseCount
0,491800,8800 BLOCK OF SE FLAVEL ST,23-171766,Property,Lents,2023-06-30,2100,Larceny Offenses,Theft From Motor Vehicle,45.468464,-122.572201,7670548.0,663706.0,2023-06-30,1
1,475141,800 BLOCK OF SW 4TH AVE,23-915199,Property,Downtown,2023-06-30,730,Larceny Offenses,Theft From Motor Vehicle,45.517507,-122.677045,7644142.0,682288.0,2023-06-30,1
2,475143,800 BLOCK OF SW 4TH AVE,23-915330,Property,Downtown,2023-06-30,1550,Vandalism,Vandalism,45.517507,-122.677045,7644142.0,682288.0,2023-06-30,1
3,497537,S GAINES ST / S CORBETT AVE,23-171939,Property,South Portland,2023-06-30,1654,Larceny Offenses,Purse-Snatching,45.496508,-122.675940,7644219.0,674627.0,2023-06-30,1
4,490845,7900 BLOCK OF SE ASPEN SUMMIT DR,23-915464,Property,Lents,2023-06-30,930,Motor Vehicle Theft,Motor Vehicle Theft,45.465672,-122.563022,7672876.0,662628.0,2023-06-30,1

In [4]:
# Look at dataset information cheking if the columns are in the right data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499915 entries, 0 to 499914
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       499915 non-null  int64
 1   Address          457678 non-null  object
 2   CaseNumber       499915 non-null  object
 3   CrimeAgainst     499915 non-null  object
 4   Neighborhood     483451 non-null  object
 5   OccurDate        499915 non-null  object
 6   OccurTime        499915 non-null  int64
 7   OffenseCategory  499915 non-null  object
 8   OffenseType      499915 non-null  object
 9   OpenDataLat      446531 non-null  float64
 10  OpenDataLon      446531 non-null  float64
 11  OpenDataX        446531 non-null  float64
 12  OpenDataY        446531 non-null  float64
 13  ReportDate       499915 non-null  object
 14  OffenseCount     499915 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 57.2+ MB

### The columns 'OccurDate', 'OccurTime', and 'ReportDate' are the wrong data type, so we have to change them to a datetime data type

In [5]:
# Change the 'OccurDate' column into datetime
df['OccurDate'] = pd.to_datetime(df['OccurDate'])

# Change the 'OccurTime' column into datetime
## df['OccurTime'] = pd.to_datetime(df['OccurTime'])

# Change the 'ReportDate' column into datetime
df['ReportDate'] = pd.to_datetime(df['ReportDate'])

# Check the updated DataFrame
print(df.dtypes)
print(df)

Unnamed: 0                  int64
Address                    object
CaseNumber                 object
CrimeAgainst               object
Neighborhood               object
OccurDate          datetime64[ns]
OccurTime                   int64
OffenseCategory            object
OffenseType                object
OpenDataLat               float64
OpenDataLon               float64
OpenDataX                 float64
OpenDataY                 float64
ReportDate         datetime64[ns]
OffenseCount                int64
dtype: object
        Unnamed: 0                           Address CaseNumber CrimeAgainst  \
0           491800        8800 BLOCK OF SE FLAVEL ST  23-171766     Property
1           475141           800 BLOCK OF SW 4TH AVE  23-915199     Property
2           475143           800 BLOCK OF SW 4TH AVE  23-915330     Property
3           497537       S GAINES ST / S CORBETT AVE  23-171939     Property
4           490845  7900 BLOCK OF SE ASPEN SUMMIT DR  23-915464     Property
...            ...                               ...        ...          ...
499910       19829         4000 BLOCK OF SE BOISE ST  15-143758     Property
499911       19847     4000 BLOCK OF SE GLADSTONE ST  15-142935     Property
499912       20090         4100 BLOCK OF SE 82ND AVE  15-143661      Society
499913       37287                   UNKNOWN ADDRESS  15-654387     Property
499914       24326        6500 BLOCK OF N LOMBARD ST  15-143369     Property

              Neighborhood  OccurDate  OccurTime         OffenseCategory  \
0                    Lents 2023-06-30       2100        Larceny Offenses
1                 Downtown 2023-06-30        730        Larceny Offenses
2                 Downtown 2023-06-30       1550               Vandalism
3           South Portland 2023-06-30       1654        Larceny Offenses
4                    Lents 2023-06-30        930     Motor Vehicle Theft
...                    ...        ...        ...                     ...
499910  Creston-Kenilworth 2015-05-01       2121                Burglary
499911  Creston-Kenilworth 2015-05-01       1900        Larceny Offenses
499912       Foster-Powell 2015-05-01       1940  Drug/Narcotic Offenses
499913                 NaN 2015-05-01        825          Fraud Offenses
499914          Portsmouth 2015-05-01       1100                Burglary

                                    OffenseType  OpenDataLat  OpenDataLon  \
0                      Theft From Motor Vehicle    45.468464  -122.572201
1                      Theft From Motor Vehicle    45.517507  -122.677045
2                                     Vandalism    45.517507  -122.677045
3                               Purse-Snatching    45.496508  -122.675940
4                           Motor Vehicle Theft    45.465672  -122.563022
...                                         ...          ...          ...
499910                                 Burglary    45.492319  -122.620799
499911                 Theft From Motor Vehicle    45.493281  -122.620694
499912                 Drug/Narcotic Violations    45.492416  -122.578840
499913  False Pretenses/Swindle/Confidence Game          NaN          NaN
499914                                 Burglary    45.585957  -122.734061

        OpenDataX  OpenDataY ReportDate  OffenseCount
0       7670548.0   663706.0 2023-06-30             1
1       7644142.0   682288.0 2023-06-30             1
2       7644142.0   682288.0 2023-06-30             1
3       7644219.0   674627.0 2023-06-30             1
4       7672876.0   662628.0 2023-06-30             1
...           ...        ...        ...           ...
499910  7658313.0   672724.0 2015-05-01             1
499911  7658349.0   673074.0 2015-05-01             1
499912  7669070.0   672480.0 2015-05-01             1
499913        NaN        NaN 2015-05-01             1
499914  7630223.0   707635.0 2015-05-01             1

[499915 rows x 15 columns]

#### We can also add year, month, day, and day of the week of crime occurances to help gain later insights on specific days and days of the week the most and least amount of crime occurs. I also did the same for the 'ReportDate' column for similar analysis

In [6]:
# Changing the 'OccurDate' into 4 more columns
df['year'] = df['OccurDate'].dt.year
df['month'] = df['OccurDate'].dt.month
df['day'] = df['OccurDate'].dt.day
df['day_of_week'] = df['OccurDate'].dt.day_name()

# Changing the 'ReportDate' column into 3 more columns
df['year_report'] = df['ReportDate'].dt.year
df['month_report'] = df['ReportDate'].dt.month
df['day_report'] = df['ReportDate'].dt.day
df['day_of_week_report'] = df['ReportDate'].dt.day_name()
# check dataset
df.head()

,Unnamed: 0,Address,CaseNumber,CrimeAgainst,Neighborhood,OccurDate,OccurTime,OffenseCategory,OffenseType,OpenDataLat,...,ReportDate,OffenseCount,year,month,day,day_of_week,year_report,month_report,day_report,day_of_week_report
0,491800,8800 BLOCK OF SE FLAVEL ST,23-171766,Property,Lents,2023-06-30,2100,Larceny Offenses,Theft From Motor Vehicle,45.468464,...,2023-06-30,1,2023,6,30,Friday,2023,6,30,Friday
1,475141,800 BLOCK OF SW 4TH AVE,23-915199,Property,Downtown,2023-06-30,730,Larceny Offenses,Theft From Motor Vehicle,45.517507,...,2023-06-30,1,2023,6,30,Friday,2023,6,30,Friday
2,475143,800 BLOCK OF SW 4TH AVE,23-915330,Property,Downtown,2023-06-30,1550,Vandalism,Vandalism,45.517507,...,2023-06-30,1,2023,6,30,Friday,2023,6,30,Friday
3,497537,S GAINES ST / S CORBETT AVE,23-171939,Property,South Portland,2023-06-30,1654,Larceny Offenses,Purse-Snatching,45.496508,...,2023-06-30,1,2023,6,30,Friday,2023,6,30,Friday
4,490845,7900 BLOCK OF SE ASPEN SUMMIT DR,23-915464,Property,Lents,2023-06-30,930,Motor Vehicle Theft,Motor Vehicle Theft,45.465672,...,2023-06-30,1,2023,6,30,Friday,2023,6,30,Friday

In [7]:
df.to_csv('Portland_Crime_Cleaned.csv', index=False)